@import "../App.css";

.image-xl {
    display: flex;
    object-fit: cover; 
    width: 100%;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

.imageDiv {
    display: flex;
    border: 1px solid pink;
    position:absolute;
    min-width: calc(100% - 200px);
}
