@import "../App.css";

.inputScore {
    display: flex;
    flex-direction: column;
    background-color:tan;
    border: 3px solid black;
    border-radius: 10px;
    background: linear-gradient(360deg,#949494 10%,#efefef 360%); 
    -webkit-background: linear-gradient(360deg,#949494 10%,#efefef 360%); 
    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -250px;
    margin-left: -450px;
    max-width: 900px;
    max-height: 500px;
    z-index: 15;     
    padding: 20px;
}

.popup1,
.popup2,
.popup3 {
    display: flex;
    font-size: 30px;
    text-align: center;
    margin: 8px auto;
}

.popup1 {
    font-weight: 600;
    font-size: 35px;
    margin: 25px auto;
}

.inputbox {
    display: flex;
    margin: 20px auto 0px auto;
}

label {
    display: flex;
    margin: 20px 20px 20px auto;
    font-size: 30px;
}

#inputPlayer {
    display: flex;
    margin: auto;
    width: 300px;
    font-size: 30px;
    padding: 5px;
}    

.buttonContainer {
    display: flex;
    margin: 30px auto;
    justify-content: center;
    text-align: center;
}

#saveBtn {
    margin: auto;
    position: static;
} 